// Prepare data required structures
$data-list: ()

$data-list: map-merge($data-list, (primary-font:(ltr:($primary,), rtl:($primary-rtl,))))
$data-list: map-merge($data-list, (secondary-font:(ltr:($secondary,), rtl:($secondary-rtl,))))
$data-list: map-merge($data-list, (tertiary-font:(ltr:($tertiary,), rtl:($tertiary,))))
$data-list: map-merge($data-list, (code-font:($code,)))
$data-list: map-merge($data-list, (font-size:(ltr: $font-sizes, rtl:$font-sizes-rtl)))
$data-list: map-merge($data-list, (font-weight:(ltr: $font-weights, rtl:$font-weights-rtl)))
$data-list: map-merge($data-list, (font-style:(italic,)))
$data-list: map-merge($data-list, (text-align:(left right center justify (ltr:left, rtl:right) (ltr:right, rtl:left))))
$data-list: map-merge($data-list, (text-transform:(none capitalize lowercase uppercase)))
$data-list: map-merge($data-list, (text-decoration:(none underline line-through)))
$data-list: map-merge($data-list, (text-indent:(ltr:$text-indents, rtl:$text-indents-rtl)))
$data-list: map-merge($data-list, (text-overflow:(clip ellipsis)))
$data-list: map-merge($data-list, (text-shadow:(ltr:$text-shadows, rtl:$text-shadows-rtl)))
$data-list: map-merge($data-list, (vertical-align:(baseline middle top bottom)))
$data-list: map-merge($data-list, (line-height:(ltr:$line-heights, rtl:$line-heights-rtl)))
$data-list: map-merge($data-list, (letter-spacing:(ltr:$letter-spacings, rtl:$letter-spacings-rtl)))
$data-list: map-merge($data-list, (word-spacing:(ltr:$word-spacings, rtl:$word-spacings-rtl)))
$data-list: map-merge($data-list, (writing-mode:(horizontal-tb vertical-rl vertical-lr)))
$data-list: map-merge($data-list, (white-space:(nowrap pre pre-wrap pre-line)))

+build($media-query-list, $data-list)
