// Prepare data required structures
$data-list: ()
$data-list: map-merge($data-list, (font-family: make-map-list(($primary, $secondary, $tertiary, $code), ($primary-rtl, $secondary-rtl, $tertiary-rtl), (primary secondary tertiary code))))
$data-list: map-merge($data-list, (font-size: make-map-list($font-sizes, $font-sizes-rtl)))
$data-list: map-merge($data-list, (font-weight: make-map-list($font-weights, $font-weights-rtl, -light -regular -medium -bold)))
$data-list: map-merge($data-list, (font-style: make-map-list(italic, $names: i)))
$data-list: map-merge($data-list, (text-align: make-map-list((left right center justify left right), (null null null null right left), l r c j s e)))
$data-list: map-merge($data-list, (text-transform: make-map-list(none capitalize lowercase uppercase, $names: -none -cap -low -upp)))
$data-list: map-merge($data-list, (text-decoration: make-map-list(none underline line-through, $names: no-underline underline strike)))
$data-list: map-merge($data-list, (text-indent: make-map-list($text-indents, $text-indents-rtl, $names: no-indent indent outdent)))
$data-list: map-merge($data-list, (text-overflow: make-map-list(clip ellipsis, $names: text-clip ellipsis)))
$data-list: map-merge($data-list, (text-shadow: make-map-list($text-shadows, $text-shadows-rtl, $names: -shadow-1 -shadow-2 -shadow-3)))
$data-list: map-merge($data-list, (vertical-alignment: make-map-list(baseline middle top bottom, $names: -bl -m -t -b)))
$data-list: map-merge($data-list, (line-height: make-map-list($line-heights, $line-heights-rtl)))
$data-list: map-merge($data-list, (letter-spacing: make-map-list($letter-spacings, $letter-spacings-rtl, -normal -dense -sparse)))
$data-list: map-merge($data-list, (word-spacing: make-map-list($word-spacings, $word-spacings-rtl, -normal -dense -sparse)))
$data-list: map-merge($data-list, (writing-mode: make-map-list(horizontal-tb vertical-rl vertical-lr, $names: -h -vrl -vlr)))
$data-list: map-merge($data-list, (white-space: make-map-list(nowrap pre pre-wrap pre-line, $names: nowrap pre-only pre-wrap pre-line)))

+build($data-list)
