=font-family($name, $font-family, $font-family-rtl: null, $mq-prefix: "")
	.#{$mq-prefix}#{$name}
		font-family: $font-family
	@if is-rtl-support($font-family-rtl)
		.#{$mq-prefix}#{$name}
			+rtl
				font-family: $font-family-rtl

=font-size($index, $font-size, $font-size-rtl: null, $mq-prefix: "")
	.#{get-font-size-selector($mq-prefix,$index)}
		font-size: $font-size
	@if is-rtl-support($font-size-rtl)
		.#{get-font-size-selector($mq-prefix,$index)}
			+rtl
				font-size: $font-size-rtl

=line-height($index,$line-height, $line-height-rtl:null, $mq-prefix: "")
	#{get-line-height-selector($mq-prefix, $index)}
		line-height: $line-height
	@if is-rtl-support($line-height-rtl)
		#{get-line-height-selector($mq-prefix, $index)}
			+rtl
				line-height: $line-height-rtl

=font-weight($name,$font-weight, $font-weight-rtl:null, $mq-prefix: "")
	#{get-font-weight-selector($mq-prefix, $name)}
		font-weight: $font-weight
	@if is-rtl-support($font-weight-rtl)
		#{get-font-weight-selector($mq-prefix, $name)}
			+rtl
				font-weight: $font-weight-rtl

=text-align($name, $alignment, $mq-prefix:"")
	.#{get-text-alignment-selector($mq-prefix, $name)}
		@if length($alignment) == 1
			text-align: $alignment
		@else
			text-align: nth($alignment, 1)
			@if is-rtl-support(nth($alignment, 2))
				+rtl
					text-align: nth($alignment, 2)

=text-transform($name, $transformation, $mq-prefix:"")
	.#{get-text-transform-selector($mq-prefix, $name)}
		text-transform: $transformation

=text-decoration($name, $decoration, $mq-prefix:"")
	.#{get-text-decoration-selector($mq-prefix, $name)}
		text-decoration: $decoration

=vertical-align($name, $va, $mq-prefix:"")
	.#{get-vertical-align-selector($mq-prefix, $name)}
		vertical-align: $va

=font-style($name, $fs, $mq-prefix:"")
	.#{get-font-style-selector($mq-prefix, $name)}
		font-style: $fs

