$generate-css: true !default

$media-query-list: ("": null,) !default

$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif !default
$sans: georgia, times, sans-serif !default
$sans-serif-rtl: Arial, sans-serif !default
$sans-rtl: Tahoma, sans-serif !default
$code: Consolas, monaco, monospace !default

$fonts: (sans-serif: ($sans-serif, $sans-serif-rtl), sans: ($sans, $sans-rtl), code: ($code,)) !default
$font-sizes: (1: (0.7rem, 0.6rem), 2: (0.9rem, 0.8rem), 3: (1.6rem, 1.4rem), 4: (2.5rem, 2.2rem), 5: (4.1rem, 3.6rem), 6: (6.6rem, 5.8rem)) !default
$font-weights: (light: (100, 200), regular :(300, 400), medium: (500, 700), bold:(700, 900)) !default
$line-heights: (1: (1.2, 1.1), 2: (1.4, 1.3), 3: (1.5, 1.6)) !default
$letter-spacings: (normal: .1em, tight:-.05em, mega:.25em)

$text-alignments: (l:left, r: right, c: center, j: justify, s: (left right), e: (right left))
$text-transformations: (n: none, c: capitalize, l: lowercase, u: uppercase)
$text-decorations: (n: none, u: underline, l: line-through)
$vertical-alignments: (base: baseline, m: middle, t: top, b: bottom)
$font-styles: (i: italic, n: normal)
